appdirs
asgiref
astroid
autopep8
backports.entry-points-selectable
beautifulsoup4
boto3
botocore
cachelib
certifi
chardet
charset-normalizer
click
colorama
cs50
distlib
dj-database-url
Django
django-ckeditor
django-cors-headers
django-crispy-forms
django-filter
django-js-asset
django-mptt
django-storages
djangorestframework
djangorestframework-simplejwt
docutils
filelock
Flask
Flask-Session
greenlet
gunicorn
idna
install
isort
itsdangerous
Pillow
pytz
requests
termcolor
toml
urllib3
virtualenv
whitenoise
